{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "semi": "warn",
    "arrow-body-style": "warn",
    "comma-dangle": "warn",
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "react/display-name": "off"
  }
}
